---
http_interactions:
- request:
    method: get
    uri: https://www.hackerrank.com/x/api/v2/tests/12345/candidates/view?access_token=<HACKERRANK_ACCESS_TOKEN>&username=dc.rec1@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"de47edf512b7012e6f6acee73cdfc925"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"email":"dc.rec1@gmail.com","tid":12345,"password":"54GRTt45","status":-1,"timestamp":"2015-07-08T15:02:46.000Z","link":"https://www.hackerrank.com/tests/54g45g4kjk5/login?b=t45g45g45kg45g45gplk45toj45toj45to45jt4tIiwicGFzc3dvcmQiOiIwYjhjN2MyZSJ9","metadata":null,"invite_details":{"invited_by":{"id":54541,"email":"EMAIL","name":"Contratado.ME"},"timestamp":"2015-07-08T15:02:46.000Z"}},"status":true,"message":"Success","http_status":200}'
  recorded_at: Tue, 07 Feb 2017 22:55:21 GMT
recorded_with: VCR 3.0.3
