---
http_interactions:
- request:
    method: post
    uri: https://www.hackerrank.com/x/api/v2/tests/12345/candidates?access_token=<HACKERRANK_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: username=dc.rec1%40gmail.com
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"faa45a8263af15065ee5c39582769a6f"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"username":"dc.rec1@gmail.com","password":"0b8c4cd4e","test_link":"https://www.hackerrank.com/tests/8rG6fg5mn9m/login?b=eyJ1c2VybmFtZSI6ImRjLnJlYzFAZ21haWwu543uhui3hjf4cGFzc3dvcmQiOiIwYjhjN2MyZSIsImhpZGUiOnRydWV9","status":true,"error":null},"status":true,"message":"1
        candidate invited.","http_status":200}'
  recorded_at: Wed, 08 Jul 2015 15:02:54 GMT
recorded_with: VCR 2.9.3
