---
http_interactions:
- request:
    method: get
    uri: https://www.hackerrank.com/x/api/v2/templates?access_token=<HACKERRANK_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2c52bdd836b2aa965d9304d2d4712a26"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"models":[{"id":1111,"user_id":1111,"company_id":1111,"name":"TEST COMPANY","subject":"TEST SUBJECT","content":"TEST CONTENT","default":true,"status":1,"created_at":"2015-08-24T18:11:11.000Z","updated_at":"2015-08-24T18:50:57.000Z"}]}'
  recorded_at: Mon, 19 Sep 2016 00:08:42 GMT
recorded_with: VCR 3.0.3
