---
http_interactions:
- request:
    method: get
    uri: https://www.hackerrank.com/x/api/v2/tests?access_token=<HACKERRANK_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"75b57ef0582c3314926f354f4f21e6bb"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":12345,"unique_id":"5fg3g5g56fm","hash":null,"name":"test
        novo","starttime":null,"endtime":null,"duration":240,"questions":"","company_id":34324,"company_share":0,"owner":72370,"instructions":"INSTRUCTIONS","tags":[],"email":"","created_on":"2015-06-29T19:21:34.000Z","is_questionset":"False","questions_array":[],"authkey":"fe512dd4d1d98ee043afb9f22bfe6614","questions_count":0,"public_hash":"6ceb844bae88a42f319cded8cdadd25c","public_url":"https://www.hackerrank.com/tests/5fg3g5g56fm/6ege43g5ge88a42f319cdec9cdadd25c","url":"https://www.hackerrank.com/tests/5fg3g5g56fm","template_email":"True","collect_info":[],"collect_data":[],"collect_data_extra":[],"time_slots_decoded":null,"languages":[],"footer_copyright":null,"section_slots_decoded":null,"task_test":false,"task_time":null,"tags_array":[],"sudorank_test":false,"invited":0,"inprogress":0,"completed":0,"qualified":0,"failed":0,"to_evaluate":0,"permission":null,"auth_pass_needed":null,"authkey_used":null,"starred":false},{"id":12346,"unique_id":"254g4f6fg","hash":null,"name":"Contratado.me
        - Teste","starttime":null,"endtime":null,"duration":240,"questions":"2200175-151787-244567","company_id":34324,"company_share":0,"owner":72371,"instructions":"INSTRUCTIONS","tags":["Teste
        demo"],"email":"","created_on":"2015-04-23T19:48:03.000Z","is_questionset":"False","questions_array":["2200175","151787","244567"],"authkey":"b4a68ce4f9d6335a9233d07e36aecb48","questions_count":3,"public_hash":"54db15fcb1b0fb8c677a0f03e65dfb0a","public_url":"https://www.hackerrank.com/tests/12fqscg2n/43db04fca0a9ebhdg43df0f43e65dfb0a","url":"https://www.hackerrank.com/tests/254g4f6fg","template_email":"True","collect_candidate_details":"","short_url":"http://hr.gs/4235f","custom_acknowledge_text":"ACKNOWLEDGE","enable_acknowledgement":"True","updateAggregateStats":"1","collect_info":[],"collect_data":[],"collect_data_extra":[],"time_slots_decoded":null,"languages":[],"footer_copyright":null,"section_slots_decoded":null,"task_test":false,"task_time":null,"tags_array":["Teste
        demo"],"sudorank_test":false,"invited":2,"inprogress":0,"completed":2,"qualified":0,"failed":2,"to_evaluate":0,"permission":null,"auth_pass_needed":null,"authkey_used":null,"starred":false}],"status":true,"message":"","total":34,"length":34}'
  recorded_at: Tue, 07 Jul 2015 22:03:34 GMT
recorded_with: VCR 2.9.3
