---
http_interactions:
- request:
    method: delete
    uri: https://www.hackerrank.com/x/api/v2/tests/12345?access_token=<HACKERRANK_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b40b90f0744ef5f0ff543t43gfab2232d0cb"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[],"status":true,"message":"Success","length":0}'
  recorded_at: Wed, 08 Jul 2015 21:29:51 GMT
recorded_with: VCR 2.9.3
