---
http_interactions:
- request:
    method: post
    uri: https://www.hackerrank.com/x/api/v2/tests?access_token=<HACKERRANK_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: name=Gem&duration=100
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e23480ed6559f5c8f5e15d4a31046724"'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":12345,"unique_id":"7a1nnk5jfk5","hash":null,"name":"Gem","starttime":null,"endtime":null,"duration":100,"questions":"","company_id":58375,"company_share":0,"owner":28603,"instructions":"\u003col\u003e\n                            \u003cli\u003eThis
        is a programming test\u003c/li\u003e\n                            \u003cli\u003eTo
        get familiarized with our coding environment, try our \u003ca href = ''https://www.hackerrank.com/tests/sample''\u003eSample
        Test\u003c/a\u003e\u003c/li\u003e\n                            \u003cli\u003eYou
        are free to choose any language from the list and code\u003c/li\u003e\n                            \u003cli\u003eIf[...]
