---
http_interactions:
- request:
    method: put
    uri: https://www.hackerrank.com/x/api/v2/tests/12345?access_token=<HACKERRANK_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: name=Library
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"697d3f486efbef40dff15e176e87d518"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":12345,"unique_id":"7a1h5jfo45tp","hash":null,"name":"Library","starttime":null,"endtime":null,"duration":100,"questions":"","company_id":549574,"company_share":0,"owner":95732,"instructions":"\u003col\u003e\n                            \u003cli\u003eThis
        is a programming test\u003c/li\u003e\n                            \u003cli\u003eTo
        get familiarized with our coding environment, try our \u003ca href = ''https://www.hackerrank.com/tests/sample''\u003eSample
        Test\u003c/a\u003e\u003c/li\u003e\n                            \u003cli\u003eYou
        are free to choose any language from the list and code\u003c/li\u003e\n                            \u003cli\u003eIf[...]
